<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
  <% include ./partials/script %>
</head>

<body>
  <% include ./partials/menu %>
  <div class="container-fluid bg-3 text-center">
    <h3><%= page %></h3><br>
    <div class="row">
      <div class="row-sm-4">
        <form>
          <p>
            Insira o CEP:
          </p>
          <input type="text">
          <button id="myB"> Submit </button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>