<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
  <% include ./partials/script %>
</head>

<body>
  <% include ./partials/menu %>
  <div class="container-fluid bg-3 text-center">
    <h3><%= page %></h3><br>
    <div class="row">
      <div class="row-sm-4">
        <p>A funcionalidade desse programa em NodeJs é fazer buscas, atualizar e inserir dados de CEP </p>
        <p align = 'center'>No botão BUSCA, você pode fazer as consultas </p>
        <p>No botão INSERIR, você pode fazer inserções de novos CEP's</p>
      </div>
    </div>
  </div>
</body>
<% include partials/script %>

</html>